/* src/App.css */
.App {
    text-align: center;
    font-family: Arial, sans-serif;
}

.user-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #eec5c5;
}

.user-list h1 {
    color: #e61818;
}

.user-list ul {
    list-style-type: none;
    padding: 0;
}

.user-list li {
    padding: 15px;
    border-bottom: 1px solid #1f1c1c;
}

.user-list li:last-child {
    border-bottom: none;
}

.user-list h2 {
    margin: 0;
    color: #007bff;
}

.user-list p {
    margin: 5px 0;
    color: #555;
}
